.container {
    max-width: 1200px;
    margin: 0 auto;
}

.productHeadingWrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

@media (min-width: 768px) {
    .productHeadingWrapper {
        flex-direction: row;
        gap: 60px;
    }
}

.productImage {
    flex: 1;
}

.productImage img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.productContent {
    flex: 1;
    color: var(--ice);
}

.title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 18px;
    /* This is as close as I could get it with this font. 
    It might be 500 but without being able to inspect the image I can't be certain */
    font-weight: 400;
}

.subtitle {
    font-size: 1.2rem;
    color: var(--purpleHaze);
    margin-bottom: 30px;
}

.price {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.priceCurrency {
    font-size: 1rem;
    margin-top: 5px;
}

.controls {
    margin-bottom: 30px;
}

.quantityLabel {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: var(--hemocyanin);
    font-weight: bold;
}

.quantitySelector {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantityBtn {
    background-color: var(--hemocyanin);
    color: var(--ice);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.quantityBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.quantityValue {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 20px;
    min-width: 20px;
    text-align: center;
}

.addToCartBtn {
    background-color: var(--sohoLights);
    color: var(--hemocyanin);
    border: none;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s;
}

.addToCartBtn:hover {
    filter: brightness(1.1);
}

.productDetails {}

.description {
    background-color: var(--hemocyanin);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.descriptionTitle {
    margin-bottom: 15px;
}

.specs {
    margin-top: 30px;
    padding: 0 20px 20px 20px;
}

.specsTitle {
    margin-bottom: 15px;
}

.specTable {
    width: 100%;
    border-collapse: collapse;
}

.specLabel {
    padding: 10px 0;
    font-weight: normal;
}

.specValue {
    padding: 10px 0;
}