.container {
    max-width: 1200px;
    margin: 0 auto;
}

.productHeadingWrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

@media (min-width: 768px) {
    .productHeadingWrapper {
        flex-direction: row;
        gap: 60px;
    }
}

.productImage {
    flex: 1;
    background-color: var(--image_bg-color);
    border-radius: 16px;
}

.productImage img {
    width: 100%;
    max-height: 350px;
    border-radius: 16px;
    height: auto;
    object-fit: contain;
}

.productContent {
    flex: 1;
    color: var(--ice);
}

.title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 18px;
    /* This is as close as I could get it with this font. 
    It might be 500 but without being able to inspect the image I can't be certain */
    font-weight: 400;
}

.subtitle {
    color: var(--purpleHaze);
    margin-bottom: 10px;
    margin-top: 0px;
}

.productPrice {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    display: flex;
    flex-grow: 1;
    align-self: flex-end;
}

.quantitySelector {}

.priceCurrency {
    margin-top: 5px;
}

.controls {
    margin-bottom: 0;
}

.addToCartBtn {
    background-color: var(--sohoLights);
    color: var(--hemocyanin);
    border: none;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s;
}

.addToCartBtn:hover {
    filter: brightness(1.1);
}

.productDetails {}

.description {
    background-color: var(--hemocyanin);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.descriptionTitle {
    margin-bottom: 15px;
}

.specs {
    margin-top: 30px;
    padding: 0 20px 20px 20px;
}

.specsTitle {
    margin-bottom: 15px;
}

.specTable {
    width: 100%;
    border-collapse: collapse;
}

.specLabel {
    padding: 10px 0;
    font-weight: normal;
}

.specValue {
    padding: 10px 0;
}